name: DocBook build

on:
 push:
 pull_request:
 workflow_dispatch:

jobs:
  build-job:
    name: Build Job
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: install java
        uses: actions/setup-java@v4
        with:
         distribution: 'zulu' # See 'Supported distributions' for available options
         java-version: '23'

      - name: Build Docbook
        run: mvn clean install -U -D'maven.build.cache.enabled=false'
        